body{
    background-color: rgb(40, 39, 39);
    
    
}




td{

border: 2px solid grey;
color: white;
text-align: center;
width: 15vh;
height: 5vh;


}




.id{
    background-color:white ;
    color: black;
text-align: none;

}

.id1{
background-color: rgb(255, 145, 0);
color: white;

}

.id2{

background-color: red;
color: white;

}
.id3{
background-color: rgb(0, 128, 255);
color: white;

}


h2{
    color: white;
margin-left: 200px;

}
.sandro1{
    color: rgb(255, 145, 0);

}
.sandro2{
    color: red;
}

.sandro3{
    color: rgb(0, 128, 255);
}
img{
    color: rgb(255, 145, 0);
}
.photo1{
    color: rgb(255, 145, 0);
}

.mikide1{
color: white;
background-color: red;

}

